@charset "utf-8";
/* CSS Document */
div#box{background: lime; border-top-left-radius:150px; border-bottom-right-radius:150px; margin:10px; height:700px; width:700px; border: 5px solid black; text-align:center}
p{text-align:center; margin: 25px; font-size: 23px; padding: 2em;}
div#circle{background: red; margin:10px; height:400px; width:400px; border-radius:200px}


div#picture{z-index:999; float:right; position: absolute; margin-left: 260px; margin-top:-200px;}